/* 定义一些常用的样式类 */
.row-between,
.row-around,
.row-start,
.row-center {
    display: flex;
    align-items: center;
}

.row-between {
    justify-content: space-between;
}

.row-around {
    justify-content: space-around;
}

.row-start {
    justify-content: flex-start;
}

.row-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.right-5 {
    margin-right: 5px;
}

.right-10 {
    margin-right: 10px;
}

.bottom-10 {
    margin-bottom: 10px;
}
.bottom-20 {
    margin-bottom: 20px;
}

.width-100 {
    width: 100%;
}
