@import "media.css";
@import "theme.css";
@import "global.css";

:root {
    box-sizing: border-box; /* 设置根元素的 box-sizing: border-box */
}
*,
*:before,
*:after {
    box-sizing: inherit; /* box-sizing 继承自父元素 */
}

body {
    margin: 0;

    color: var(--text-color);
    background-color: var(--background-color);

    transition: background-color 1s;
}
