/* 768px 及以下统一识别为手持设备 */

/* 大于等于 768px 像素隐藏 */
@media screen and (min-width: 768px) {
    :root .only-phone {
        display: none;
    }
}

/* 小于 768px 像素隐藏 */
@media not screen and (min-width: 768px) {
    :root .only-pc {
        display: none;
    }
}
