:root {
    /* 覆盖 element 的主题色 */
    --el-color-primary: hsl(161, 43%, 55%);
    --el-color-primary-light-3: hsl(161, 43%, 65%);
    --el-color-primary-light-5: hsl(161, 43%, 75%);

    /* 自定义的主题色 */
    --text-color: #333;
    --background-color: #eee;

    --text-secondary-color: #333;
    --background-secondary-color: #ccc;
}

:root.dark {
    /* 覆盖 element 的主题色 */
    --el-color-primary: hsl(161, 43%, 55%);
    --el-color-primary-light-3: hsl(161, 43%, 65%);
    --el-color-primary-light-5: hsl(161, 43%, 75%);

    /* 自定义的主题色 */
    --text-color: white;
    --background-color: black;

    --text-secondary-color: #ccc;
    --background-secondary-color: #333;
}
