:root {
    /* 日间 */
    color-scheme: light;

    --primary-color: hsl(161, 43%, 55%);

    /* 覆盖 element 的主题色 */
    --el-color-primary: hsl(161, 43%, 55%);
    --el-color-primary-light-3: hsl(161, 43%, 65%);
    --el-color-primary-light-5: hsl(161, 43%, 75%);

    --el-color-primary-dark-2: hsl(161, 43%, 45%);

    --el-color-warning: hsl(22, 83%, 65%);
    --el-color-warning-light-3: hsl(22, 83%, 75%);
    --el-color-warning-light-5: hsl(22, 83%, 85%);

    --el-color-warning-dark-2: hsl(22, 83%, 55%);

    /* 自定义的主题色 */
    --text-color: #111;
    --background-color: #fff;

    --text-second-color: #333;
    --background-second-color: #ddd;

    --text-third-color: #555;
    --background-third-color: #bbb;

    --text-prompt-color: #999;
}

:root.dark {
    /* 夜间 */
    color-scheme: dark;

    --primary-color: hsl(161, 43%, 55%);

    /* 覆盖 element 的主题色 */
    --el-color-primary: hsl(161, 43%, 55%);
    --el-color-primary-light-3: hsl(161, 43%, 65%);
    --el-color-primary-light-5: hsl(161, 43%, 75%);

    --el-color-primary-dark-2: hsl(161, 43%, 45%);

    --el-color-warning: hsl(22, 83%, 65%);
    --el-color-warning-light-3: hsl(22, 83%, 75%);
    --el-color-warning-light-5: hsl(22, 83%, 85%);

    --el-color-warning-dark-2: hsl(22, 83%, 55%);

    /* 自定义的主题色 */
    --text-color: #fff;
    --background-color: #111;

    --text-second-color: #ddd;
    --background-second-color: #333;

    --text-third-color: #bbb;
    --background-third-color: #555;

    --text-prompt-color: #999;
}
